:root {
    --trans: all 300ms ease-in-out;
}

body, html {
    box-sizing: border-box;
    height: 100vh;
}
.jumbotron {
    margin: 15px;
    background-color: lightblue;
    text-align: center;
}

.group {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 15px;
    background-color: #fff;
}

    button {
        min-width: 135px;
        max-width: 200px;
        min-height: 50px;
        border: 0;
        outline: 0;
      
        color: white;
      
        /* pink to orange */
        background: #ee0979; 
        background: linear-gradient(to right, #ee0979, #ff6a00);
        
        vertical-align: top;
      }

      body {
        background-color: #52ACFF;
        background-image: linear-gradient(180deg, #52ACFF 25%, #FFE32C 100%);
      }

