:root {
    --trans: all 300ms ease-in-out;
}

body, html {
    box-sizing: border-box;
    height: 100vh;
}

.group {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 15px;
}